{% extends 'base.html' %}


<link rel="stylesheet" href="style.css">
{% block title %}Início{% endblock title %}

{% block content %}

<div class="principal">
    <div class="formulario">
        <h1>Adicionar Ativo</h1>
        <form action="" method="post">
            {% csrf_token %}  
            {{ form }}
            <button class="myButton" type="submit"> Salvar </button>
        </form>
            {% if mensagem_confirmacao %}
                <div>
                    <p>{{ mensagem_confirmacao }}</p>
                </div>
            {% endif %}
    </div>

    <div class="Ativos">
        <h2>Ativos</h2>

        {% for obj in objs %}
            <li>
                <a href='editar/{{obj.id}}'>{{ obj }}</a>
            </li>
        {% endfor %}
    </div>
</div>
{% endblock content %}