body{
    background-color: aliceblue;
    width: 100%;
    position: relative;
    padding: 20px 80px 0 80px;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario{
    /* position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto; */
}

.principal
{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

li
{
    list-style-type: none;
}

a
{
    text-decoration: none;
    color: burlywood;
    padding-top: 20px;
}

a:hover {
    color: #F00;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 5px 5px 5px 5px
   }

form
{

}

input, select{
    display: block;
    width: 40%;
}

label, input, select
{
    margin-top: 7px;
    margin-bottom: 7px;
}

.myButton {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.myButton:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}